<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Just Enough Academy by just-enough-academy</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Just Enough Academy</h1>
        <h2>iustus satis doctrina invenit sapientiam &gt;&gt; just enough learning leads to wisdom</h2>
        <a href="https://github.com/just-enough-academy" class="button"><small>Follow me on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
{{content}}

<div align="center">
<a href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a><br>Just Enough Academy by <a href="http://github.com/al-the-x/just-enough">David Rogers AKA "AL the X"</a> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>
        </section>
      </div>
    </div>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-46027125-3");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
